.footer {
    display: flex;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 3%;
}

.footerCopyright {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
} 