.footer {
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
    text-align: center;
    font-size: 1rem;
}

.footerCopyright {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
    font-size: .8rem;
} 


.footerText:hover {
    background-color: #ddff6e;
}