.header {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding-top: 5px;
  height: 100%;
}

.headerNavbar {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.headerTitleWrap {
  float: left;
  flex: auto;
  font-size: 30px;
  color: #ff906e;
  display: flex;
  height: 100%;
}

.headerTitleWrap h1 {
  display: flex;
  height: 48px;
  align-items: center;
  font-weight: 900;
}

.headerTitleWrap a:hover {
  color: #ff906e !important;
  text-decoration: underline !important;
	text-decoration-color: #ddff6e !important;
  text-decoration-thickness: 5px !important;
}

.headerSpecWrap ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.headerSpecItems {
  padding: 16px;
  font-weight: 900;
}

.headerSpecItems a:hover {
  color: black !important;
  text-decoration: underline !important;
	text-decoration-color: #ddff6e !important;
  text-decoration-thickness: 5px !important;
}

/* key shake */
@keyframes aboutKeyShake {
  50% {
  transform: rotate(10deg)
  }
}

.headerTitleWrap h1:hover{
  animation: aboutKeyShake .4s linear;
  color: #ff906e;
  border-bottom-color: #ddff6e
}
