@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

.headerNavbar {
  font-family: 'Major Mono Display', monospace;
  position: fixed;
  display: flex;
  -moz-box-align: center;
  flex-wrap: nowrap;
  align-items: center;
  -moz-box-pack:justify;
  justify-content: space-between;
  top: 0px;
  padding: 0 2%;
  border-bottom: 1px solid #e1e4e6;
  height: 60px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.headerLogo {
  display: block;
  float: left;
  padding-left: 3%;
}

.headerLogo li {
  display: inline-block;
}

.headerHomeName {
  display: inline-block;
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  color: #424242;
  padding-left: 10%;
}

.headerHomeAbout {
  display: block;
  float: right;
  padding-right: 3%;
}

.headerHomeAbout h2{
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  color: #424242; 
}

.headerHomeImage {
  display: inline-block;
  width: 28px;
  height: auto;
  vertical-align: middle; 
}