@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-family: 'Spoqa Han Sans Neo',
    -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 17px;
  color: #424242;
}

* {
  box-sizing: border-box;
}

a {
  color: #1565C0;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

footer {
  text-align: center;
  margin: 8rem;
}
