/* Mobile */
@media screen and (max-width:768px) { 
  .homeIntroduction {
    justify-content: flex-start;
  }
  .resumeSpec {
    line-height: 1.5rem;
  }
  .homeResume {
    width: 100%;
    margin-left: 1rem;
  }
  .listItem {
    width: 100%;
  }
  .listItem small {
    font-weight: 500;
  }
  .article {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 1rem 1rem;
  }
  .postDate {
    margin-top: 1.1rem;
    vertical-align: baseline;
  }

  .headingMd {
    margin: 0 1rem 0 1rem;
  }

  .markdownText {
    margin-top: 20px;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }


  .markdownText p {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .markdownText blockquote > p {
    margin-left: 1rem;  
  }

  .markdownText li {
    margin-left: 2rem;
  }

  .license-url {
    text-align: center;
  }

}

/* Desktop & Ipad */
@media screen and (min-width:768px) {
  .homeIntroduction {
    justify-content: center;
  }

  .resumeSpec {
    line-height: 1.7rem;
  }

  .homeResume {
    width: 45%;
  }

  .article {
    flex-direction: column;
    width: 45%;
    margin: 1rem auto 0;
  }

  .listItem {
    width: 45%;
  }


  .lightText {
    color: #999;
    display: flex;
    align-items: center;
  }

  .lightText time {
    margin-top: 1.1rem;
    font-size: 1rem;
    font-weight: 300;
  }

  .markdownText p {
    font-size: 1.2rem;
  }

  .markdownText blockquote p {
    margin-left: 1rem;
  }
  .markdownText ul {
    list-style-type: disc;
    margin-left: 2rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding-bottom: .5rem;
  }

  .markdownText ul li {
    list-style-type: disc;
  }

  .license-url {
    flex-direction: column;
    justify-content: center;
    font-size: .6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
   }
}

.markdownTextLicense {
  margin-top: 4rem;
  font-size: .7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px;
}

.markdownTextLicense img {
  justify-content: center;
}

.license-paragraph {
  font-size: .6em;
}

.headingXl {
  font-size: 1.2em;
  line-height: 1.3em;
  font-weight: 800;
  letter-spacing: -0.05rem;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.headingLg {
  font-size: 1.5em;
  line-height: 1.4;
  margin: 3em 0;
}

.headingMd {
  line-height: 1.5;
}

.paragraph {
  word-break: keep-all;
  overflow-wrap: break-word;
  line-height: 1.9;
}

.orderedlist {
  word-break: keep-all;
  overflow: break-word;
  line-height: 1.9;  
  padding-left: 20px;
}


.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.list {
  list-style: none;
  margin: 0;
  padding-top: 2%;
}

.list a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.listItem {
  border-bottom: 1px solid #e1e4e6;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  font-weight: 900;
}

.listItem:hover {
  border-bottom: 1px solid #ddff6e;
}

.listItem h2 {
  word-break: keep-all;
  overflow-wrap: break-word;

  font-size: 1.1rem;
  line-height: 1rem;
  padding-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 900;
}

.listItem:hover > h2 {
  background-color: #ddff6e;
}

.listItem h2 {
  margin-bottom: 0.4rem;
  font-size: 1.3rem;
  word-break: keep-all;
  overflow-wrap: break-word;
  display: inline;
  padding-top: 0;
}

.listItem h2:hover {
  background-color: #ddff6e;
}

.listItem h3 {
  margin-bottom: 0.4rem;
  color: #616161;
  font-size: 1rem;
  font-weight: 400;
  word-break: keep-all;
  overflow-wrap: break-word;
  line-height: 1.7rem;
}

.listItem small {
  font-size: .9rem;
  font-weight: 400;
}

.listItemSubtitle {
  font-weight: 500;
  font-size: 1rem;
  padding-top: 1rem;
  color: #948ea6 !important;
}

.markdownText a {
  word-break: break-all;
}

.markdownText h1 {
  font-weight: 500;
  font-size: 1.2rem;
}

.markdownText h2 {
  padding-top: 1.5em;
  padding-bottom: 1em;
  font-size: 1.1rem;
  font-weight: 500;
}

.markdownText h3 {
  padding-top: 1.2em;
  font-size: 1em;
  font-weight: 500;
}

.markdownText h4 {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: .9em;
  font-weight: 500;
}

.markdownText p {
  font-size: .9em;
  line-height: 1.5rem;
  word-break: break-all;
  overflow-wrap: break-word;
  text-align: justify;
  margin-top: 1rem;
}

.markdownText blockquote {
  margin: 20px 0 20px 25px;
  border-left: 3px solid #ddff6e;
  margin-left: 1rem;
}

.markdownText pre {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: .6em .6em .3em;
  line-height: 1.5rem;
  background-color: #f9ffe7;
  font-size: 1.1em;
  overflow: auto;
}

.markdownText p code {
  font-size: 1em;
  background-color: #f9ffe7;
  padding: .2em .1em 0em .2em;
	overflow: auto;
  border-radius: 0.3em;
  line-height: 1.9rem;
}

.markdownText code {
  font-family: 'IBM Plex Sans KR', 'PT Sans Caption', sans-serif;
  font-size: .8em;
}

.markdownText ol {
  margin: 15px 0;
  counter-reset: item;
  list-style: none;
}

.markdownText ol li {
  counter-increment: step-counter;
  position: relative;
  margin: 1rem 0 1rem;
  list-style-type: disc;
  margin-left: 1rem;
}

.markdownText li::before {
  counter-increment: item;
  display: inline-block;
  position: absolute;
  font-size: 0.8rem;
  margin-left: -1em;
}

.markdownText li {
  list-style: square;
  font-size: .9rem;
  line-height: 1.8em;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.markdownText li > p {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

.markdownText li > code {
  font-family: 'Fira Mono', monospace;
  font-size: .9rem;
  background-color: #f9ffe7;
  padding: .2em .1em 0em .2em;
	overflow: auto;
  border-radius: 0.3em;
}

.markdownText ul > ::marker {
  font-size: 1.7em;
}

.markdownText img {
  display: block;
  margin: 1.5rem auto;
}

.copyrightText {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.copyrightText img {
  flex-direction: column;
}

.copyrightText p {
  line-height: .8em;
  padding-top: .5em;
  padding-bottom: .5em;
  word-break: keep-all;
  overflow-wrap: break-word;
  text-align: center;
}

.homeIntroduction {
  display: flex;
  align-items: center;
  max-width: 100%;
  padding-top: 2%;
}

.homeResume {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 45%; */
}

.resumeCompany {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: #ddff6e;
}

.resumeCompany:hover {
  text-decoration: underline;
  text-decoration-color: #ddff6e;
  background-color: #ddff6e;
}                                           

.resumeItem {
  font-size: 1.2rem !important;
  line-height: 1rem !important;
  padding-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 900;
}

.resumeTitle {
  display: flex;
  justify-content: space-between;
}

.resumeSpec {
  padding-bottom: .8rem;
}

.article {
  display: flex;
  flex-direction: column;
}

.articleInfo {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 2rem;
  border-top: 1px solid #ff906e;
}

.homeIntroduction {
  font-size: .9rem;
}
