@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

@media screen and (max-width:768px) {
  .header {
    flex-wrap: wrap;
  }  
}

@media screen and (min-width:768px) {
  .header > small {
    margin: 1.8rem;
  }
}

.headingXl {
  font-size: 1.9rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 3rem 0;
}

.headingMd {
  line-height: 1.5;
}

.paragraph {
  word-break: keep-all;
  overflow-wrap: break-word;
  line-height: 1.9;
}

.orderedlist {
  word-break: keep-all;
  overflow: break-word;
  line-height: 1.9;  
  padding-left: 20px;
}

.header {
  display: flex;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  padding: 1.3rem 0.9rem 1.3rem;
}

.listItem:hover {
  border-radius: 13px;
  background-color: #FAFAFA;
}

.listItem h2 {
  margin-bottom: 0.4rem;
  font-size: 1.5rem;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.listItem h3 {
  margin-bottom: 0.4rem;
  color: #616161;
  font-size: 1.2rem;
  font-weight: 400;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.lightText {
  margin: 0;
  color: #999;
}

.markdownText a {
  word-break: break-all;
}

.markdownText h2{
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 1.5rem;
}

.markdownText h3 {
  padding-top: 5px;
  padding-bottom: 3px;
  font-size: 1.3rem;
}

.markdownText h4 {
  padding-top: 5px;
  font-size: 1.2rem;
}

.markdownText p {
  line-height: 1.9rem;
  padding-top: 10px;
  padding-bottom: 10px;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.markdownText blockquote {
  margin: 20px 0 20px 25px;
  padding-left: 12px;
  border-left: 3px solid #e1e4e6;
}

.markdownText pre {
  margin: 2rem 2rem 2rem 0;
  padding: 1.5rem;
  line-height: 1.3rem;
}

.markdownText p code {
  font-family: 'Fira Mono', monospace;
  background-color: #E3F2FD;
  padding: .2em;
	overflow: auto;
  border-radius: 0.3em;
}

.markdownText ol {
  margin: 15px 0 0 20px;
}

.markdownText ul {
  margin: 15px 0 0 10px;
}

.markdownText li {
  margin: 10px 0;
  line-height: 1.8rem;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.markdownText li > p {
  margin: 0;
  padding: 0;
}

.markdownText li > code {
  font-family: 'Fira Mono', monospace;
  background-color: #E3F2FD;
  padding: .2em;
	overflow: auto;
  border-radius: 0.3em;
}

.markdownText ul > ::marker {
  font-size: 1.5rem;
}